.movie-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  max-width: 700px;
  margin: 100px auto;

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    &__title {
      color: $primary-color;
      font-family: Montserrat;
      font-weight: 900;
      margin: 0;
    }

    &__vote {
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.4em;
      position: relative;
      display: flex;
      align-items: center;

      &:before {
        content: '\2605';
        position: absolute;
        right: calc(100% + 5px);
        font-size: 1.2em;
        color: yellow;
      }
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.4);
  }

  &__description {
    color: #e5e5e5;
    margin-top: 50px;
    text-align: justify;
    font-weight: bold;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
  }

  &__back {
    color: #e5e5e5;
    margin-top: 30px;
    text-decoration: none;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    background: lighten(#141414, 3%);
    padding: 10px 30px;
    font-size: 1.5em;
    border-radius: 8px;
    transition: 550ms;

    &:hover {
      background: darken(#e5e5e5, 8%);
      color: #141414;
      transform: scale(1.05);
    }
  }
}
